# config
config/config.ini

# data folder
data/*
# analysis folder
analysis/*
plot/*

background.md

.RData
.Rhistory

# Ignore folders that start with "Robyn_"
Robyn_*/

# ignore outputs of test files
tests/testthat/outputs