# config
config/config.ini

# data folder
data/*
input/*
# analysis folder
analysis/*
results/*

background.md

.RData
.Rhistory

# Ignore folders that start with "Robyn_"
Robyn_*/

# ignore outputs of test files
tests/testthat/outputs

install_nevergrad.R

.DS_Store
